<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Delete this Nation
Are you sure?

<form th:object="${nation}" method="post" th:action="@{/deleteNation}">

    <table style="border: 1px solid black">
        <tr>
            <td><input th:field="*{id}" type="hidden"></td>
        </tr>
        <tr>
            <td>Nation Name:</td>
            <td th:text="${nation.getName()}"></td>
        </tr>
        <tr>
            <td>Nation GDP</td>
            <td th:text="${nation.getGDP()}"></td>

        </tr>
        <tr>
            <td><button type="submit">Delete</button></td>
        </tr>

    </table>
</form>

</body>
</html>